body{
    align-items: center;
    text-align: center;
}
.contactus-div{
    width: 100%;
    position: absolute;
    top: 20%;
}
a{
    background-color: rgba(120, 177, 120, 0.6);
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 10px;
    text-decoration: none;
}
section{
    position: absolute;
    top: 45%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
section a{
    width: 110px;
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 40px;
}
a:hover{
    background: rgb(0, 0, 0,0.4);
}